<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeno.cqicanfly.mybatis.mapper.ConfigFilePOMapper">
  <resultMap id="BaseResultMap" type="com.zeno.cqicanfly.mybatis.entity.ConfigFilePO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_path" jdbcType="VARCHAR" property="file_path" />
    <result column="file_name" jdbcType="VARCHAR" property="file_name" />
    <result column="file_lua_table_header" jdbcType="VARCHAR" property="file_lua_table_header" />
    <result column="to_php_status" jdbcType="BIT" property="to_php_status" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="create_by" jdbcType="VARCHAR" property="create_by" />
    <result column="udpate_by" jdbcType="VARCHAR" property="udpate_by" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, file_path, file_name, file_lua_table_header, to_php_status, status, create_time, 
    update_time, create_by, udpate_by
  </sql>
  <select id="selectByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CQ_Config_File
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CQ_Config_File
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CQ_Config_File
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePOExample">
    delete from CQ_Config_File
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePO">
    insert into CQ_Config_File (id, file_path, file_name, 
      file_lua_table_header, to_php_status, status, 
      create_time, update_time, create_by, 
      udpate_by)
    values (#{id,jdbcType=INTEGER}, #{file_path,jdbcType=VARCHAR}, #{file_name,jdbcType=VARCHAR}, 
      #{file_lua_table_header,jdbcType=VARCHAR}, #{to_php_status,jdbcType=BIT}, #{status,jdbcType=TINYINT}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{create_by,jdbcType=VARCHAR}, 
      #{udpate_by,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePO">
    insert into CQ_Config_File
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="file_path != null">
        file_path,
      </if>
      <if test="file_name != null">
        file_name,
      </if>
      <if test="file_lua_table_header != null">
        file_lua_table_header,
      </if>
      <if test="to_php_status != null">
        to_php_status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="create_by != null">
        create_by,
      </if>
      <if test="udpate_by != null">
        udpate_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="file_path != null">
        #{file_path,jdbcType=VARCHAR},
      </if>
      <if test="file_name != null">
        #{file_name,jdbcType=VARCHAR},
      </if>
      <if test="file_lua_table_header != null">
        #{file_lua_table_header,jdbcType=VARCHAR},
      </if>
      <if test="to_php_status != null">
        #{to_php_status,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_by != null">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="udpate_by != null">
        #{udpate_by,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePOExample" resultType="java.lang.Long">
    select count(*) from CQ_Config_File
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CQ_Config_File
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.file_path != null">
        file_path = #{record.file_path,jdbcType=VARCHAR},
      </if>
      <if test="record.file_name != null">
        file_name = #{record.file_name,jdbcType=VARCHAR},
      </if>
      <if test="record.file_lua_table_header != null">
        file_lua_table_header = #{record.file_lua_table_header,jdbcType=VARCHAR},
      </if>
      <if test="record.to_php_status != null">
        to_php_status = #{record.to_php_status,jdbcType=BIT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.update_time != null">
        update_time = #{record.update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=VARCHAR},
      </if>
      <if test="record.udpate_by != null">
        udpate_by = #{record.udpate_by,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CQ_Config_File
    set id = #{record.id,jdbcType=INTEGER},
      file_path = #{record.file_path,jdbcType=VARCHAR},
      file_name = #{record.file_name,jdbcType=VARCHAR},
      file_lua_table_header = #{record.file_lua_table_header,jdbcType=VARCHAR},
      to_php_status = #{record.to_php_status,jdbcType=BIT},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      update_time = #{record.update_time,jdbcType=TIMESTAMP},
      create_by = #{record.create_by,jdbcType=VARCHAR},
      udpate_by = #{record.udpate_by,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePO">
    update CQ_Config_File
    <set>
      <if test="file_path != null">
        file_path = #{file_path,jdbcType=VARCHAR},
      </if>
      <if test="file_name != null">
        file_name = #{file_name,jdbcType=VARCHAR},
      </if>
      <if test="file_lua_table_header != null">
        file_lua_table_header = #{file_lua_table_header,jdbcType=VARCHAR},
      </if>
      <if test="to_php_status != null">
        to_php_status = #{to_php_status,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="udpate_by != null">
        udpate_by = #{udpate_by,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zeno.cqicanfly.mybatis.entity.ConfigFilePO">
    update CQ_Config_File
    set file_path = #{file_path,jdbcType=VARCHAR},
      file_name = #{file_name,jdbcType=VARCHAR},
      file_lua_table_header = #{file_lua_table_header,jdbcType=VARCHAR},
      to_php_status = #{to_php_status,jdbcType=BIT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      create_by = #{create_by,jdbcType=VARCHAR},
      udpate_by = #{udpate_by,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>