<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeno.cqicanfly.mybatis.mapper.FlagsConfigPOMapper">
  <resultMap id="BaseResultMap" type="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lagId" jdbcType="BIT" property="lagId" />
    <result column="DenyMove" jdbcType="BIT" property="denyMove" />
    <result column="DenyBeMove" jdbcType="BIT" property="denyBeMove" />
    <result column="DenyAttackActor" jdbcType="BIT" property="denyAttackActor" />
    <result column="DenyBeAttack" jdbcType="BIT" property="denyBeAttack" />
    <result column="DenyAttackedByActor" jdbcType="BIT" property="denyAttackedByActor" />
    <result column="CanAttackMonster" jdbcType="BIT" property="canAttackMonster" />
    <result column="DenyAutoAddMp" jdbcType="BIT" property="denyAutoAddMp" />
    <result column="DenyAutoAddHp" jdbcType="BIT" property="denyAutoAddHp" />
    <result column="CanSceneTelport" jdbcType="BIT" property="canSceneTelport" />
    <result column="CanSeeHideActor" jdbcType="BIT" property="canSeeHideActor" />
    <result column="DenyDieSubExp" jdbcType="BIT" property="denyDieSubExp" />
    <result column="DenyUseNearAttack" jdbcType="BIT" property="denyUseNearAttack" />
    <result column="DenyMoveForbidBuff" jdbcType="BIT" property="denyMoveForbidBuff" />
    <result column="DenyMoveSpeedSlowBuff" jdbcType="BIT" property="denyMoveSpeedSlowBuff" />
    <result column="DenySee" jdbcType="BIT" property="denySee" />
    <result column="DenyInitiativeAttackActor" jdbcType="BIT" property="denyInitiativeAttackActor" />
    <result column="DenyShowMasterName" jdbcType="BIT" property="denyShowMasterName" />
    <result column="DenyShowName" jdbcType="BIT" property="denyShowName" />
    <result column="AttackSeeKill" jdbcType="BIT" property="attackSeeKill" />
    <result column="noBeCrossed" jdbcType="BIT" property="noBeCrossed" />
    <result column="AttackKiller" jdbcType="BIT" property="attackKiller" />
    <result column="ShowNameByNumber" jdbcType="BIT" property="showNameByNumber" />
    <result column="DenyBeCatch" jdbcType="BIT" property="denyBeCatch" />
    <result column="CanAlwaysEnter" jdbcType="BIT" property="canAlwaysEnter" />
    <result column="BeAttackNeedUseSkill" jdbcType="BIT" property="beAttackNeedUseSkill" />
    <result column="IdleUseSkill" jdbcType="BIT" property="idleUseSkill" />
    <result column="PetNoAttact" jdbcType="BIT" property="petNoAttact" />
    <result column="DenyAddNumber" jdbcType="BIT" property="denyAddNumber" />
    <result column="AttackPet" jdbcType="BIT" property="attackPet" />
    <result column="noUseAStar" jdbcType="BIT" property="noUseAStar" />
    <result column="moveTelport" jdbcType="BIT" property="moveTelport" />
    <result column="NoAttactBack" jdbcType="BIT" property="noAttactBack" />
    <result column="noReturnHome" jdbcType="BIT" property="noReturnHome" />
    <result column="attackToScript" jdbcType="BIT" property="attackToScript" />
    <result column="DenySetDir" jdbcType="BIT" property="denySetDir" />
    <result column="bDeathTriggerScript" jdbcType="BIT" property="bDeathTriggerScript" />
    <result column="bMobTriggerScript" jdbcType="BIT" property="bMobTriggerScript" />
    <result column="bLiveTimeOutTriggerScript" jdbcType="BIT" property="bLiveTimeOutTriggerScript" />
    <result column="showVestEntityName" jdbcType="BIT" property="showVestEntityName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, lagId, DenyMove, DenyBeMove, DenyAttackActor, DenyBeAttack, DenyAttackedByActor, 
    CanAttackMonster, DenyAutoAddMp, DenyAutoAddHp, CanSceneTelport, CanSeeHideActor, 
    DenyDieSubExp, DenyUseNearAttack, DenyMoveForbidBuff, DenyMoveSpeedSlowBuff, DenySee, 
    DenyInitiativeAttackActor, DenyShowMasterName, DenyShowName, AttackSeeKill, noBeCrossed, 
    AttackKiller, ShowNameByNumber, DenyBeCatch, CanAlwaysEnter, BeAttackNeedUseSkill, 
    IdleUseSkill, PetNoAttact, DenyAddNumber, AttackPet, noUseAStar, moveTelport, NoAttactBack, 
    noReturnHome, attackToScript, DenySetDir, bDeathTriggerScript, bMobTriggerScript, 
    bLiveTimeOutTriggerScript, showVestEntityName
  </sql>
  <select id="selectByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from FlagsConfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FlagsConfig
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from FlagsConfig
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPOExample">
    delete from FlagsConfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPO">
    insert into FlagsConfig (id, lagId, DenyMove, 
      DenyBeMove, DenyAttackActor, DenyBeAttack, 
      DenyAttackedByActor, CanAttackMonster, DenyAutoAddMp, 
      DenyAutoAddHp, CanSceneTelport, CanSeeHideActor, 
      DenyDieSubExp, DenyUseNearAttack, DenyMoveForbidBuff, 
      DenyMoveSpeedSlowBuff, DenySee, DenyInitiativeAttackActor, 
      DenyShowMasterName, DenyShowName, AttackSeeKill, 
      noBeCrossed, AttackKiller, ShowNameByNumber, 
      DenyBeCatch, CanAlwaysEnter, BeAttackNeedUseSkill, 
      IdleUseSkill, PetNoAttact, DenyAddNumber, 
      AttackPet, noUseAStar, moveTelport, 
      NoAttactBack, noReturnHome, attackToScript, 
      DenySetDir, bDeathTriggerScript, bMobTriggerScript, 
      bLiveTimeOutTriggerScript, showVestEntityName)
    values (#{id,jdbcType=INTEGER}, #{lagId,jdbcType=BIT}, #{denyMove,jdbcType=BIT}, 
      #{denyBeMove,jdbcType=BIT}, #{denyAttackActor,jdbcType=BIT}, #{denyBeAttack,jdbcType=BIT}, 
      #{denyAttackedByActor,jdbcType=BIT}, #{canAttackMonster,jdbcType=BIT}, #{denyAutoAddMp,jdbcType=BIT}, 
      #{denyAutoAddHp,jdbcType=BIT}, #{canSceneTelport,jdbcType=BIT}, #{canSeeHideActor,jdbcType=BIT}, 
      #{denyDieSubExp,jdbcType=BIT}, #{denyUseNearAttack,jdbcType=BIT}, #{denyMoveForbidBuff,jdbcType=BIT}, 
      #{denyMoveSpeedSlowBuff,jdbcType=BIT}, #{denySee,jdbcType=BIT}, #{denyInitiativeAttackActor,jdbcType=BIT}, 
      #{denyShowMasterName,jdbcType=BIT}, #{denyShowName,jdbcType=BIT}, #{attackSeeKill,jdbcType=BIT}, 
      #{noBeCrossed,jdbcType=BIT}, #{attackKiller,jdbcType=BIT}, #{showNameByNumber,jdbcType=BIT}, 
      #{denyBeCatch,jdbcType=BIT}, #{canAlwaysEnter,jdbcType=BIT}, #{beAttackNeedUseSkill,jdbcType=BIT}, 
      #{idleUseSkill,jdbcType=BIT}, #{petNoAttact,jdbcType=BIT}, #{denyAddNumber,jdbcType=BIT}, 
      #{attackPet,jdbcType=BIT}, #{noUseAStar,jdbcType=BIT}, #{moveTelport,jdbcType=BIT}, 
      #{noAttactBack,jdbcType=BIT}, #{noReturnHome,jdbcType=BIT}, #{attackToScript,jdbcType=BIT}, 
      #{denySetDir,jdbcType=BIT}, #{bDeathTriggerScript,jdbcType=BIT}, #{bMobTriggerScript,jdbcType=BIT}, 
      #{bLiveTimeOutTriggerScript,jdbcType=BIT}, #{showVestEntityName,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPO">
    insert into FlagsConfig
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lagId != null">
        lagId,
      </if>
      <if test="denyMove != null">
        DenyMove,
      </if>
      <if test="denyBeMove != null">
        DenyBeMove,
      </if>
      <if test="denyAttackActor != null">
        DenyAttackActor,
      </if>
      <if test="denyBeAttack != null">
        DenyBeAttack,
      </if>
      <if test="denyAttackedByActor != null">
        DenyAttackedByActor,
      </if>
      <if test="canAttackMonster != null">
        CanAttackMonster,
      </if>
      <if test="denyAutoAddMp != null">
        DenyAutoAddMp,
      </if>
      <if test="denyAutoAddHp != null">
        DenyAutoAddHp,
      </if>
      <if test="canSceneTelport != null">
        CanSceneTelport,
      </if>
      <if test="canSeeHideActor != null">
        CanSeeHideActor,
      </if>
      <if test="denyDieSubExp != null">
        DenyDieSubExp,
      </if>
      <if test="denyUseNearAttack != null">
        DenyUseNearAttack,
      </if>
      <if test="denyMoveForbidBuff != null">
        DenyMoveForbidBuff,
      </if>
      <if test="denyMoveSpeedSlowBuff != null">
        DenyMoveSpeedSlowBuff,
      </if>
      <if test="denySee != null">
        DenySee,
      </if>
      <if test="denyInitiativeAttackActor != null">
        DenyInitiativeAttackActor,
      </if>
      <if test="denyShowMasterName != null">
        DenyShowMasterName,
      </if>
      <if test="denyShowName != null">
        DenyShowName,
      </if>
      <if test="attackSeeKill != null">
        AttackSeeKill,
      </if>
      <if test="noBeCrossed != null">
        noBeCrossed,
      </if>
      <if test="attackKiller != null">
        AttackKiller,
      </if>
      <if test="showNameByNumber != null">
        ShowNameByNumber,
      </if>
      <if test="denyBeCatch != null">
        DenyBeCatch,
      </if>
      <if test="canAlwaysEnter != null">
        CanAlwaysEnter,
      </if>
      <if test="beAttackNeedUseSkill != null">
        BeAttackNeedUseSkill,
      </if>
      <if test="idleUseSkill != null">
        IdleUseSkill,
      </if>
      <if test="petNoAttact != null">
        PetNoAttact,
      </if>
      <if test="denyAddNumber != null">
        DenyAddNumber,
      </if>
      <if test="attackPet != null">
        AttackPet,
      </if>
      <if test="noUseAStar != null">
        noUseAStar,
      </if>
      <if test="moveTelport != null">
        moveTelport,
      </if>
      <if test="noAttactBack != null">
        NoAttactBack,
      </if>
      <if test="noReturnHome != null">
        noReturnHome,
      </if>
      <if test="attackToScript != null">
        attackToScript,
      </if>
      <if test="denySetDir != null">
        DenySetDir,
      </if>
      <if test="bDeathTriggerScript != null">
        bDeathTriggerScript,
      </if>
      <if test="bMobTriggerScript != null">
        bMobTriggerScript,
      </if>
      <if test="bLiveTimeOutTriggerScript != null">
        bLiveTimeOutTriggerScript,
      </if>
      <if test="showVestEntityName != null">
        showVestEntityName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lagId != null">
        #{lagId,jdbcType=BIT},
      </if>
      <if test="denyMove != null">
        #{denyMove,jdbcType=BIT},
      </if>
      <if test="denyBeMove != null">
        #{denyBeMove,jdbcType=BIT},
      </if>
      <if test="denyAttackActor != null">
        #{denyAttackActor,jdbcType=BIT},
      </if>
      <if test="denyBeAttack != null">
        #{denyBeAttack,jdbcType=BIT},
      </if>
      <if test="denyAttackedByActor != null">
        #{denyAttackedByActor,jdbcType=BIT},
      </if>
      <if test="canAttackMonster != null">
        #{canAttackMonster,jdbcType=BIT},
      </if>
      <if test="denyAutoAddMp != null">
        #{denyAutoAddMp,jdbcType=BIT},
      </if>
      <if test="denyAutoAddHp != null">
        #{denyAutoAddHp,jdbcType=BIT},
      </if>
      <if test="canSceneTelport != null">
        #{canSceneTelport,jdbcType=BIT},
      </if>
      <if test="canSeeHideActor != null">
        #{canSeeHideActor,jdbcType=BIT},
      </if>
      <if test="denyDieSubExp != null">
        #{denyDieSubExp,jdbcType=BIT},
      </if>
      <if test="denyUseNearAttack != null">
        #{denyUseNearAttack,jdbcType=BIT},
      </if>
      <if test="denyMoveForbidBuff != null">
        #{denyMoveForbidBuff,jdbcType=BIT},
      </if>
      <if test="denyMoveSpeedSlowBuff != null">
        #{denyMoveSpeedSlowBuff,jdbcType=BIT},
      </if>
      <if test="denySee != null">
        #{denySee,jdbcType=BIT},
      </if>
      <if test="denyInitiativeAttackActor != null">
        #{denyInitiativeAttackActor,jdbcType=BIT},
      </if>
      <if test="denyShowMasterName != null">
        #{denyShowMasterName,jdbcType=BIT},
      </if>
      <if test="denyShowName != null">
        #{denyShowName,jdbcType=BIT},
      </if>
      <if test="attackSeeKill != null">
        #{attackSeeKill,jdbcType=BIT},
      </if>
      <if test="noBeCrossed != null">
        #{noBeCrossed,jdbcType=BIT},
      </if>
      <if test="attackKiller != null">
        #{attackKiller,jdbcType=BIT},
      </if>
      <if test="showNameByNumber != null">
        #{showNameByNumber,jdbcType=BIT},
      </if>
      <if test="denyBeCatch != null">
        #{denyBeCatch,jdbcType=BIT},
      </if>
      <if test="canAlwaysEnter != null">
        #{canAlwaysEnter,jdbcType=BIT},
      </if>
      <if test="beAttackNeedUseSkill != null">
        #{beAttackNeedUseSkill,jdbcType=BIT},
      </if>
      <if test="idleUseSkill != null">
        #{idleUseSkill,jdbcType=BIT},
      </if>
      <if test="petNoAttact != null">
        #{petNoAttact,jdbcType=BIT},
      </if>
      <if test="denyAddNumber != null">
        #{denyAddNumber,jdbcType=BIT},
      </if>
      <if test="attackPet != null">
        #{attackPet,jdbcType=BIT},
      </if>
      <if test="noUseAStar != null">
        #{noUseAStar,jdbcType=BIT},
      </if>
      <if test="moveTelport != null">
        #{moveTelport,jdbcType=BIT},
      </if>
      <if test="noAttactBack != null">
        #{noAttactBack,jdbcType=BIT},
      </if>
      <if test="noReturnHome != null">
        #{noReturnHome,jdbcType=BIT},
      </if>
      <if test="attackToScript != null">
        #{attackToScript,jdbcType=BIT},
      </if>
      <if test="denySetDir != null">
        #{denySetDir,jdbcType=BIT},
      </if>
      <if test="bDeathTriggerScript != null">
        #{bDeathTriggerScript,jdbcType=BIT},
      </if>
      <if test="bMobTriggerScript != null">
        #{bMobTriggerScript,jdbcType=BIT},
      </if>
      <if test="bLiveTimeOutTriggerScript != null">
        #{bLiveTimeOutTriggerScript,jdbcType=BIT},
      </if>
      <if test="showVestEntityName != null">
        #{showVestEntityName,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPOExample" resultType="java.lang.Long">
    select count(*) from FlagsConfig
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update FlagsConfig
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lagId != null">
        lagId = #{record.lagId,jdbcType=BIT},
      </if>
      <if test="record.denyMove != null">
        DenyMove = #{record.denyMove,jdbcType=BIT},
      </if>
      <if test="record.denyBeMove != null">
        DenyBeMove = #{record.denyBeMove,jdbcType=BIT},
      </if>
      <if test="record.denyAttackActor != null">
        DenyAttackActor = #{record.denyAttackActor,jdbcType=BIT},
      </if>
      <if test="record.denyBeAttack != null">
        DenyBeAttack = #{record.denyBeAttack,jdbcType=BIT},
      </if>
      <if test="record.denyAttackedByActor != null">
        DenyAttackedByActor = #{record.denyAttackedByActor,jdbcType=BIT},
      </if>
      <if test="record.canAttackMonster != null">
        CanAttackMonster = #{record.canAttackMonster,jdbcType=BIT},
      </if>
      <if test="record.denyAutoAddMp != null">
        DenyAutoAddMp = #{record.denyAutoAddMp,jdbcType=BIT},
      </if>
      <if test="record.denyAutoAddHp != null">
        DenyAutoAddHp = #{record.denyAutoAddHp,jdbcType=BIT},
      </if>
      <if test="record.canSceneTelport != null">
        CanSceneTelport = #{record.canSceneTelport,jdbcType=BIT},
      </if>
      <if test="record.canSeeHideActor != null">
        CanSeeHideActor = #{record.canSeeHideActor,jdbcType=BIT},
      </if>
      <if test="record.denyDieSubExp != null">
        DenyDieSubExp = #{record.denyDieSubExp,jdbcType=BIT},
      </if>
      <if test="record.denyUseNearAttack != null">
        DenyUseNearAttack = #{record.denyUseNearAttack,jdbcType=BIT},
      </if>
      <if test="record.denyMoveForbidBuff != null">
        DenyMoveForbidBuff = #{record.denyMoveForbidBuff,jdbcType=BIT},
      </if>
      <if test="record.denyMoveSpeedSlowBuff != null">
        DenyMoveSpeedSlowBuff = #{record.denyMoveSpeedSlowBuff,jdbcType=BIT},
      </if>
      <if test="record.denySee != null">
        DenySee = #{record.denySee,jdbcType=BIT},
      </if>
      <if test="record.denyInitiativeAttackActor != null">
        DenyInitiativeAttackActor = #{record.denyInitiativeAttackActor,jdbcType=BIT},
      </if>
      <if test="record.denyShowMasterName != null">
        DenyShowMasterName = #{record.denyShowMasterName,jdbcType=BIT},
      </if>
      <if test="record.denyShowName != null">
        DenyShowName = #{record.denyShowName,jdbcType=BIT},
      </if>
      <if test="record.attackSeeKill != null">
        AttackSeeKill = #{record.attackSeeKill,jdbcType=BIT},
      </if>
      <if test="record.noBeCrossed != null">
        noBeCrossed = #{record.noBeCrossed,jdbcType=BIT},
      </if>
      <if test="record.attackKiller != null">
        AttackKiller = #{record.attackKiller,jdbcType=BIT},
      </if>
      <if test="record.showNameByNumber != null">
        ShowNameByNumber = #{record.showNameByNumber,jdbcType=BIT},
      </if>
      <if test="record.denyBeCatch != null">
        DenyBeCatch = #{record.denyBeCatch,jdbcType=BIT},
      </if>
      <if test="record.canAlwaysEnter != null">
        CanAlwaysEnter = #{record.canAlwaysEnter,jdbcType=BIT},
      </if>
      <if test="record.beAttackNeedUseSkill != null">
        BeAttackNeedUseSkill = #{record.beAttackNeedUseSkill,jdbcType=BIT},
      </if>
      <if test="record.idleUseSkill != null">
        IdleUseSkill = #{record.idleUseSkill,jdbcType=BIT},
      </if>
      <if test="record.petNoAttact != null">
        PetNoAttact = #{record.petNoAttact,jdbcType=BIT},
      </if>
      <if test="record.denyAddNumber != null">
        DenyAddNumber = #{record.denyAddNumber,jdbcType=BIT},
      </if>
      <if test="record.attackPet != null">
        AttackPet = #{record.attackPet,jdbcType=BIT},
      </if>
      <if test="record.noUseAStar != null">
        noUseAStar = #{record.noUseAStar,jdbcType=BIT},
      </if>
      <if test="record.moveTelport != null">
        moveTelport = #{record.moveTelport,jdbcType=BIT},
      </if>
      <if test="record.noAttactBack != null">
        NoAttactBack = #{record.noAttactBack,jdbcType=BIT},
      </if>
      <if test="record.noReturnHome != null">
        noReturnHome = #{record.noReturnHome,jdbcType=BIT},
      </if>
      <if test="record.attackToScript != null">
        attackToScript = #{record.attackToScript,jdbcType=BIT},
      </if>
      <if test="record.denySetDir != null">
        DenySetDir = #{record.denySetDir,jdbcType=BIT},
      </if>
      <if test="record.bDeathTriggerScript != null">
        bDeathTriggerScript = #{record.bDeathTriggerScript,jdbcType=BIT},
      </if>
      <if test="record.bMobTriggerScript != null">
        bMobTriggerScript = #{record.bMobTriggerScript,jdbcType=BIT},
      </if>
      <if test="record.bLiveTimeOutTriggerScript != null">
        bLiveTimeOutTriggerScript = #{record.bLiveTimeOutTriggerScript,jdbcType=BIT},
      </if>
      <if test="record.showVestEntityName != null">
        showVestEntityName = #{record.showVestEntityName,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update FlagsConfig
    set id = #{record.id,jdbcType=INTEGER},
      lagId = #{record.lagId,jdbcType=BIT},
      DenyMove = #{record.denyMove,jdbcType=BIT},
      DenyBeMove = #{record.denyBeMove,jdbcType=BIT},
      DenyAttackActor = #{record.denyAttackActor,jdbcType=BIT},
      DenyBeAttack = #{record.denyBeAttack,jdbcType=BIT},
      DenyAttackedByActor = #{record.denyAttackedByActor,jdbcType=BIT},
      CanAttackMonster = #{record.canAttackMonster,jdbcType=BIT},
      DenyAutoAddMp = #{record.denyAutoAddMp,jdbcType=BIT},
      DenyAutoAddHp = #{record.denyAutoAddHp,jdbcType=BIT},
      CanSceneTelport = #{record.canSceneTelport,jdbcType=BIT},
      CanSeeHideActor = #{record.canSeeHideActor,jdbcType=BIT},
      DenyDieSubExp = #{record.denyDieSubExp,jdbcType=BIT},
      DenyUseNearAttack = #{record.denyUseNearAttack,jdbcType=BIT},
      DenyMoveForbidBuff = #{record.denyMoveForbidBuff,jdbcType=BIT},
      DenyMoveSpeedSlowBuff = #{record.denyMoveSpeedSlowBuff,jdbcType=BIT},
      DenySee = #{record.denySee,jdbcType=BIT},
      DenyInitiativeAttackActor = #{record.denyInitiativeAttackActor,jdbcType=BIT},
      DenyShowMasterName = #{record.denyShowMasterName,jdbcType=BIT},
      DenyShowName = #{record.denyShowName,jdbcType=BIT},
      AttackSeeKill = #{record.attackSeeKill,jdbcType=BIT},
      noBeCrossed = #{record.noBeCrossed,jdbcType=BIT},
      AttackKiller = #{record.attackKiller,jdbcType=BIT},
      ShowNameByNumber = #{record.showNameByNumber,jdbcType=BIT},
      DenyBeCatch = #{record.denyBeCatch,jdbcType=BIT},
      CanAlwaysEnter = #{record.canAlwaysEnter,jdbcType=BIT},
      BeAttackNeedUseSkill = #{record.beAttackNeedUseSkill,jdbcType=BIT},
      IdleUseSkill = #{record.idleUseSkill,jdbcType=BIT},
      PetNoAttact = #{record.petNoAttact,jdbcType=BIT},
      DenyAddNumber = #{record.denyAddNumber,jdbcType=BIT},
      AttackPet = #{record.attackPet,jdbcType=BIT},
      noUseAStar = #{record.noUseAStar,jdbcType=BIT},
      moveTelport = #{record.moveTelport,jdbcType=BIT},
      NoAttactBack = #{record.noAttactBack,jdbcType=BIT},
      noReturnHome = #{record.noReturnHome,jdbcType=BIT},
      attackToScript = #{record.attackToScript,jdbcType=BIT},
      DenySetDir = #{record.denySetDir,jdbcType=BIT},
      bDeathTriggerScript = #{record.bDeathTriggerScript,jdbcType=BIT},
      bMobTriggerScript = #{record.bMobTriggerScript,jdbcType=BIT},
      bLiveTimeOutTriggerScript = #{record.bLiveTimeOutTriggerScript,jdbcType=BIT},
      showVestEntityName = #{record.showVestEntityName,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPO">
    update FlagsConfig
    <set>
      <if test="lagId != null">
        lagId = #{lagId,jdbcType=BIT},
      </if>
      <if test="denyMove != null">
        DenyMove = #{denyMove,jdbcType=BIT},
      </if>
      <if test="denyBeMove != null">
        DenyBeMove = #{denyBeMove,jdbcType=BIT},
      </if>
      <if test="denyAttackActor != null">
        DenyAttackActor = #{denyAttackActor,jdbcType=BIT},
      </if>
      <if test="denyBeAttack != null">
        DenyBeAttack = #{denyBeAttack,jdbcType=BIT},
      </if>
      <if test="denyAttackedByActor != null">
        DenyAttackedByActor = #{denyAttackedByActor,jdbcType=BIT},
      </if>
      <if test="canAttackMonster != null">
        CanAttackMonster = #{canAttackMonster,jdbcType=BIT},
      </if>
      <if test="denyAutoAddMp != null">
        DenyAutoAddMp = #{denyAutoAddMp,jdbcType=BIT},
      </if>
      <if test="denyAutoAddHp != null">
        DenyAutoAddHp = #{denyAutoAddHp,jdbcType=BIT},
      </if>
      <if test="canSceneTelport != null">
        CanSceneTelport = #{canSceneTelport,jdbcType=BIT},
      </if>
      <if test="canSeeHideActor != null">
        CanSeeHideActor = #{canSeeHideActor,jdbcType=BIT},
      </if>
      <if test="denyDieSubExp != null">
        DenyDieSubExp = #{denyDieSubExp,jdbcType=BIT},
      </if>
      <if test="denyUseNearAttack != null">
        DenyUseNearAttack = #{denyUseNearAttack,jdbcType=BIT},
      </if>
      <if test="denyMoveForbidBuff != null">
        DenyMoveForbidBuff = #{denyMoveForbidBuff,jdbcType=BIT},
      </if>
      <if test="denyMoveSpeedSlowBuff != null">
        DenyMoveSpeedSlowBuff = #{denyMoveSpeedSlowBuff,jdbcType=BIT},
      </if>
      <if test="denySee != null">
        DenySee = #{denySee,jdbcType=BIT},
      </if>
      <if test="denyInitiativeAttackActor != null">
        DenyInitiativeAttackActor = #{denyInitiativeAttackActor,jdbcType=BIT},
      </if>
      <if test="denyShowMasterName != null">
        DenyShowMasterName = #{denyShowMasterName,jdbcType=BIT},
      </if>
      <if test="denyShowName != null">
        DenyShowName = #{denyShowName,jdbcType=BIT},
      </if>
      <if test="attackSeeKill != null">
        AttackSeeKill = #{attackSeeKill,jdbcType=BIT},
      </if>
      <if test="noBeCrossed != null">
        noBeCrossed = #{noBeCrossed,jdbcType=BIT},
      </if>
      <if test="attackKiller != null">
        AttackKiller = #{attackKiller,jdbcType=BIT},
      </if>
      <if test="showNameByNumber != null">
        ShowNameByNumber = #{showNameByNumber,jdbcType=BIT},
      </if>
      <if test="denyBeCatch != null">
        DenyBeCatch = #{denyBeCatch,jdbcType=BIT},
      </if>
      <if test="canAlwaysEnter != null">
        CanAlwaysEnter = #{canAlwaysEnter,jdbcType=BIT},
      </if>
      <if test="beAttackNeedUseSkill != null">
        BeAttackNeedUseSkill = #{beAttackNeedUseSkill,jdbcType=BIT},
      </if>
      <if test="idleUseSkill != null">
        IdleUseSkill = #{idleUseSkill,jdbcType=BIT},
      </if>
      <if test="petNoAttact != null">
        PetNoAttact = #{petNoAttact,jdbcType=BIT},
      </if>
      <if test="denyAddNumber != null">
        DenyAddNumber = #{denyAddNumber,jdbcType=BIT},
      </if>
      <if test="attackPet != null">
        AttackPet = #{attackPet,jdbcType=BIT},
      </if>
      <if test="noUseAStar != null">
        noUseAStar = #{noUseAStar,jdbcType=BIT},
      </if>
      <if test="moveTelport != null">
        moveTelport = #{moveTelport,jdbcType=BIT},
      </if>
      <if test="noAttactBack != null">
        NoAttactBack = #{noAttactBack,jdbcType=BIT},
      </if>
      <if test="noReturnHome != null">
        noReturnHome = #{noReturnHome,jdbcType=BIT},
      </if>
      <if test="attackToScript != null">
        attackToScript = #{attackToScript,jdbcType=BIT},
      </if>
      <if test="denySetDir != null">
        DenySetDir = #{denySetDir,jdbcType=BIT},
      </if>
      <if test="bDeathTriggerScript != null">
        bDeathTriggerScript = #{bDeathTriggerScript,jdbcType=BIT},
      </if>
      <if test="bMobTriggerScript != null">
        bMobTriggerScript = #{bMobTriggerScript,jdbcType=BIT},
      </if>
      <if test="bLiveTimeOutTriggerScript != null">
        bLiveTimeOutTriggerScript = #{bLiveTimeOutTriggerScript,jdbcType=BIT},
      </if>
      <if test="showVestEntityName != null">
        showVestEntityName = #{showVestEntityName,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zeno.cqicanfly.mybatis.entity.FlagsConfigPO">
    update FlagsConfig
    set lagId = #{lagId,jdbcType=BIT},
      DenyMove = #{denyMove,jdbcType=BIT},
      DenyBeMove = #{denyBeMove,jdbcType=BIT},
      DenyAttackActor = #{denyAttackActor,jdbcType=BIT},
      DenyBeAttack = #{denyBeAttack,jdbcType=BIT},
      DenyAttackedByActor = #{denyAttackedByActor,jdbcType=BIT},
      CanAttackMonster = #{canAttackMonster,jdbcType=BIT},
      DenyAutoAddMp = #{denyAutoAddMp,jdbcType=BIT},
      DenyAutoAddHp = #{denyAutoAddHp,jdbcType=BIT},
      CanSceneTelport = #{canSceneTelport,jdbcType=BIT},
      CanSeeHideActor = #{canSeeHideActor,jdbcType=BIT},
      DenyDieSubExp = #{denyDieSubExp,jdbcType=BIT},
      DenyUseNearAttack = #{denyUseNearAttack,jdbcType=BIT},
      DenyMoveForbidBuff = #{denyMoveForbidBuff,jdbcType=BIT},
      DenyMoveSpeedSlowBuff = #{denyMoveSpeedSlowBuff,jdbcType=BIT},
      DenySee = #{denySee,jdbcType=BIT},
      DenyInitiativeAttackActor = #{denyInitiativeAttackActor,jdbcType=BIT},
      DenyShowMasterName = #{denyShowMasterName,jdbcType=BIT},
      DenyShowName = #{denyShowName,jdbcType=BIT},
      AttackSeeKill = #{attackSeeKill,jdbcType=BIT},
      noBeCrossed = #{noBeCrossed,jdbcType=BIT},
      AttackKiller = #{attackKiller,jdbcType=BIT},
      ShowNameByNumber = #{showNameByNumber,jdbcType=BIT},
      DenyBeCatch = #{denyBeCatch,jdbcType=BIT},
      CanAlwaysEnter = #{canAlwaysEnter,jdbcType=BIT},
      BeAttackNeedUseSkill = #{beAttackNeedUseSkill,jdbcType=BIT},
      IdleUseSkill = #{idleUseSkill,jdbcType=BIT},
      PetNoAttact = #{petNoAttact,jdbcType=BIT},
      DenyAddNumber = #{denyAddNumber,jdbcType=BIT},
      AttackPet = #{attackPet,jdbcType=BIT},
      noUseAStar = #{noUseAStar,jdbcType=BIT},
      moveTelport = #{moveTelport,jdbcType=BIT},
      NoAttactBack = #{noAttactBack,jdbcType=BIT},
      noReturnHome = #{noReturnHome,jdbcType=BIT},
      attackToScript = #{attackToScript,jdbcType=BIT},
      DenySetDir = #{denySetDir,jdbcType=BIT},
      bDeathTriggerScript = #{bDeathTriggerScript,jdbcType=BIT},
      bMobTriggerScript = #{bMobTriggerScript,jdbcType=BIT},
      bLiveTimeOutTriggerScript = #{bLiveTimeOutTriggerScript,jdbcType=BIT},
      showVestEntityName = #{showVestEntityName,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>