<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeno.cqicanfly.mybatis.mapper.StdItemsPOMapper">
  <resultMap id="BaseResultMap" type="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="itemDesc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="INTEGER" property="icon" />
    <result column="shape" jdbcType="INTEGER" property="shape" />
    <result column="back" jdbcType="INTEGER" property="back" />
    <result column="imgeff" jdbcType="INTEGER" property="imgeff" />
    <result column="dup" jdbcType="INTEGER" property="dup" />
    <result column="dealType" jdbcType="INTEGER" property="dealType" />
    <result column="suitId" jdbcType="INTEGER" property="suitId" />
    <result column="colGroup" jdbcType="INTEGER" property="colGroup" />
    <result column="cdTime" jdbcType="INTEGER" property="cdTime" />
    <result column="dropBroadcast" jdbcType="INTEGER" property="dropBroadcast" />
    <result column="showQuality" jdbcType="INTEGER" property="showQuality" />
    <result column="dropEffect" jdbcType="INTEGER" property="dropEffect" />
    <result column="itemEff" jdbcType="INTEGER" property="itemEff" />
    <result column="existScenes" jdbcType="VARCHAR" property="existScenes" />
    <result column="openUi" jdbcType="VARCHAR" property="openUi" />
    <result column="suggVocation" jdbcType="INTEGER" property="suggVocation" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="canMoveKb" jdbcType="INTEGER" property="canMoveKb" />
    <result column="recordLog" jdbcType="INTEGER" property="recordLog" />
    <result column="denyDeal" jdbcType="INTEGER" property="denyDeal" />
    <result column="denySell" jdbcType="INTEGER" property="denySell" />
    <result column="denyDestroy" jdbcType="INTEGER" property="denyDestroy" />
    <result column="conds" jdbcType="VARCHAR" property="conds" />
    <result column="packageType" jdbcType="INTEGER" property="packageType" />
    <result column="dropGroupid" jdbcType="INTEGER" property="dropGroupid" />
    <result column="itemlevel" jdbcType="INTEGER" property="itemlevel" />
    <result column="recoverid" jdbcType="INTEGER" property="recoverid" />
    <result column="recoverView" jdbcType="VARCHAR" property="recoverView" />
    <result column="itemlvl" jdbcType="INTEGER" property="itemlvl" />
    <result column="deathsplit" jdbcType="VARCHAR" property="deathsplit" />
    <result column="trade" jdbcType="INTEGER" property="trade" />
    <result column="selectGift" jdbcType="VARCHAR" property="selectGift" />
    <result column="forcetips" jdbcType="INTEGER" property="forcetips" />
    <result column="jpdrop" jdbcType="INTEGER" property="jpdrop" />
    <result column="iseffect" jdbcType="INTEGER" property="iseffect" />
    <result column="tipsid" jdbcType="INTEGER" property="tipsid" />
    <result column="fashionTips" jdbcType="VARCHAR" property="fashionTips" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    <result column="staitcAttrs" jdbcType="LONGVARCHAR" property="staitcAttrs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, itemDesc, type, icon, shape, back, imgeff, dup, dealType, suitId, colGroup, 
    cdTime, dropBroadcast, showQuality, dropEffect, itemEff, existScenes, openUi, suggVocation, 
    time, canMoveKb, recordLog, denyDeal, denySell, denyDestroy, conds, packageType, 
    dropGroupid, itemlevel, recoverid, recoverView, itemlvl, deathsplit, trade, selectGift, 
    forcetips, jpdrop, iseffect, tipsid, fashionTips
  </sql>
  <sql id="Blob_Column_List">
    staitcAttrs
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from StdItems
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from StdItems
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from StdItems
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from StdItems
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPOExample">
    delete from StdItems
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    insert into StdItems (id, name, itemDesc, 
      type, icon, shape, 
      back, imgeff, dup, 
      dealType, suitId, colGroup, 
      cdTime, dropBroadcast, showQuality, 
      dropEffect, itemEff, existScenes, 
      openUi, suggVocation, time, 
      canMoveKb, recordLog, denyDeal, 
      denySell, denyDestroy, conds, 
      packageType, dropGroupid, itemlevel, 
      recoverid, recoverView, itemlvl, 
      deathsplit, trade, selectGift, 
      forcetips, jpdrop, iseffect, 
      tipsid, fashionTips, staitcAttrs
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{itemDesc,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{icon,jdbcType=INTEGER}, #{shape,jdbcType=INTEGER}, 
      #{back,jdbcType=INTEGER}, #{imgeff,jdbcType=INTEGER}, #{dup,jdbcType=INTEGER}, 
      #{dealType,jdbcType=INTEGER}, #{suitId,jdbcType=INTEGER}, #{colGroup,jdbcType=INTEGER}, 
      #{cdTime,jdbcType=INTEGER}, #{dropBroadcast,jdbcType=INTEGER}, #{showQuality,jdbcType=INTEGER}, 
      #{dropEffect,jdbcType=INTEGER}, #{itemEff,jdbcType=INTEGER}, #{existScenes,jdbcType=VARCHAR}, 
      #{openUi,jdbcType=VARCHAR}, #{suggVocation,jdbcType=INTEGER}, #{time,jdbcType=INTEGER}, 
      #{canMoveKb,jdbcType=INTEGER}, #{recordLog,jdbcType=INTEGER}, #{denyDeal,jdbcType=INTEGER}, 
      #{denySell,jdbcType=INTEGER}, #{denyDestroy,jdbcType=INTEGER}, #{conds,jdbcType=VARCHAR}, 
      #{packageType,jdbcType=INTEGER}, #{dropGroupid,jdbcType=INTEGER}, #{itemlevel,jdbcType=INTEGER}, 
      #{recoverid,jdbcType=INTEGER}, #{recoverView,jdbcType=VARCHAR}, #{itemlvl,jdbcType=INTEGER}, 
      #{deathsplit,jdbcType=VARCHAR}, #{trade,jdbcType=INTEGER}, #{selectGift,jdbcType=VARCHAR}, 
      #{forcetips,jdbcType=INTEGER}, #{jpdrop,jdbcType=INTEGER}, #{iseffect,jdbcType=INTEGER}, 
      #{tipsid,jdbcType=INTEGER}, #{fashionTips,jdbcType=VARCHAR}, #{staitcAttrs,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    insert into StdItems
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="itemDesc != null">
        itemDesc,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="shape != null">
        shape,
      </if>
      <if test="back != null">
        back,
      </if>
      <if test="imgeff != null">
        imgeff,
      </if>
      <if test="dup != null">
        dup,
      </if>
      <if test="dealType != null">
        dealType,
      </if>
      <if test="suitId != null">
        suitId,
      </if>
      <if test="colGroup != null">
        colGroup,
      </if>
      <if test="cdTime != null">
        cdTime,
      </if>
      <if test="dropBroadcast != null">
        dropBroadcast,
      </if>
      <if test="showQuality != null">
        showQuality,
      </if>
      <if test="dropEffect != null">
        dropEffect,
      </if>
      <if test="itemEff != null">
        itemEff,
      </if>
      <if test="existScenes != null">
        existScenes,
      </if>
      <if test="openUi != null">
        openUi,
      </if>
      <if test="suggVocation != null">
        suggVocation,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="canMoveKb != null">
        canMoveKb,
      </if>
      <if test="recordLog != null">
        recordLog,
      </if>
      <if test="denyDeal != null">
        denyDeal,
      </if>
      <if test="denySell != null">
        denySell,
      </if>
      <if test="denyDestroy != null">
        denyDestroy,
      </if>
      <if test="conds != null">
        conds,
      </if>
      <if test="packageType != null">
        packageType,
      </if>
      <if test="dropGroupid != null">
        dropGroupid,
      </if>
      <if test="itemlevel != null">
        itemlevel,
      </if>
      <if test="recoverid != null">
        recoverid,
      </if>
      <if test="recoverView != null">
        recoverView,
      </if>
      <if test="itemlvl != null">
        itemlvl,
      </if>
      <if test="deathsplit != null">
        deathsplit,
      </if>
      <if test="trade != null">
        trade,
      </if>
      <if test="selectGift != null">
        selectGift,
      </if>
      <if test="forcetips != null">
        forcetips,
      </if>
      <if test="jpdrop != null">
        jpdrop,
      </if>
      <if test="iseffect != null">
        iseffect,
      </if>
      <if test="tipsid != null">
        tipsid,
      </if>
      <if test="fashionTips != null">
        fashionTips,
      </if>
      <if test="staitcAttrs != null">
        staitcAttrs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=INTEGER},
      </if>
      <if test="shape != null">
        #{shape,jdbcType=INTEGER},
      </if>
      <if test="back != null">
        #{back,jdbcType=INTEGER},
      </if>
      <if test="imgeff != null">
        #{imgeff,jdbcType=INTEGER},
      </if>
      <if test="dup != null">
        #{dup,jdbcType=INTEGER},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=INTEGER},
      </if>
      <if test="suitId != null">
        #{suitId,jdbcType=INTEGER},
      </if>
      <if test="colGroup != null">
        #{colGroup,jdbcType=INTEGER},
      </if>
      <if test="cdTime != null">
        #{cdTime,jdbcType=INTEGER},
      </if>
      <if test="dropBroadcast != null">
        #{dropBroadcast,jdbcType=INTEGER},
      </if>
      <if test="showQuality != null">
        #{showQuality,jdbcType=INTEGER},
      </if>
      <if test="dropEffect != null">
        #{dropEffect,jdbcType=INTEGER},
      </if>
      <if test="itemEff != null">
        #{itemEff,jdbcType=INTEGER},
      </if>
      <if test="existScenes != null">
        #{existScenes,jdbcType=VARCHAR},
      </if>
      <if test="openUi != null">
        #{openUi,jdbcType=VARCHAR},
      </if>
      <if test="suggVocation != null">
        #{suggVocation,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="canMoveKb != null">
        #{canMoveKb,jdbcType=INTEGER},
      </if>
      <if test="recordLog != null">
        #{recordLog,jdbcType=INTEGER},
      </if>
      <if test="denyDeal != null">
        #{denyDeal,jdbcType=INTEGER},
      </if>
      <if test="denySell != null">
        #{denySell,jdbcType=INTEGER},
      </if>
      <if test="denyDestroy != null">
        #{denyDestroy,jdbcType=INTEGER},
      </if>
      <if test="conds != null">
        #{conds,jdbcType=VARCHAR},
      </if>
      <if test="packageType != null">
        #{packageType,jdbcType=INTEGER},
      </if>
      <if test="dropGroupid != null">
        #{dropGroupid,jdbcType=INTEGER},
      </if>
      <if test="itemlevel != null">
        #{itemlevel,jdbcType=INTEGER},
      </if>
      <if test="recoverid != null">
        #{recoverid,jdbcType=INTEGER},
      </if>
      <if test="recoverView != null">
        #{recoverView,jdbcType=VARCHAR},
      </if>
      <if test="itemlvl != null">
        #{itemlvl,jdbcType=INTEGER},
      </if>
      <if test="deathsplit != null">
        #{deathsplit,jdbcType=VARCHAR},
      </if>
      <if test="trade != null">
        #{trade,jdbcType=INTEGER},
      </if>
      <if test="selectGift != null">
        #{selectGift,jdbcType=VARCHAR},
      </if>
      <if test="forcetips != null">
        #{forcetips,jdbcType=INTEGER},
      </if>
      <if test="jpdrop != null">
        #{jpdrop,jdbcType=INTEGER},
      </if>
      <if test="iseffect != null">
        #{iseffect,jdbcType=INTEGER},
      </if>
      <if test="tipsid != null">
        #{tipsid,jdbcType=INTEGER},
      </if>
      <if test="fashionTips != null">
        #{fashionTips,jdbcType=VARCHAR},
      </if>
      <if test="staitcAttrs != null">
        #{staitcAttrs,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPOExample" resultType="java.lang.Long">
    select count(*) from StdItems
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update StdItems
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null">
        itemDesc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=INTEGER},
      </if>
      <if test="record.shape != null">
        shape = #{record.shape,jdbcType=INTEGER},
      </if>
      <if test="record.back != null">
        back = #{record.back,jdbcType=INTEGER},
      </if>
      <if test="record.imgeff != null">
        imgeff = #{record.imgeff,jdbcType=INTEGER},
      </if>
      <if test="record.dup != null">
        dup = #{record.dup,jdbcType=INTEGER},
      </if>
      <if test="record.dealType != null">
        dealType = #{record.dealType,jdbcType=INTEGER},
      </if>
      <if test="record.suitId != null">
        suitId = #{record.suitId,jdbcType=INTEGER},
      </if>
      <if test="record.colGroup != null">
        colGroup = #{record.colGroup,jdbcType=INTEGER},
      </if>
      <if test="record.cdTime != null">
        cdTime = #{record.cdTime,jdbcType=INTEGER},
      </if>
      <if test="record.dropBroadcast != null">
        dropBroadcast = #{record.dropBroadcast,jdbcType=INTEGER},
      </if>
      <if test="record.showQuality != null">
        showQuality = #{record.showQuality,jdbcType=INTEGER},
      </if>
      <if test="record.dropEffect != null">
        dropEffect = #{record.dropEffect,jdbcType=INTEGER},
      </if>
      <if test="record.itemEff != null">
        itemEff = #{record.itemEff,jdbcType=INTEGER},
      </if>
      <if test="record.existScenes != null">
        existScenes = #{record.existScenes,jdbcType=VARCHAR},
      </if>
      <if test="record.openUi != null">
        openUi = #{record.openUi,jdbcType=VARCHAR},
      </if>
      <if test="record.suggVocation != null">
        suggVocation = #{record.suggVocation,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=INTEGER},
      </if>
      <if test="record.canMoveKb != null">
        canMoveKb = #{record.canMoveKb,jdbcType=INTEGER},
      </if>
      <if test="record.recordLog != null">
        recordLog = #{record.recordLog,jdbcType=INTEGER},
      </if>
      <if test="record.denyDeal != null">
        denyDeal = #{record.denyDeal,jdbcType=INTEGER},
      </if>
      <if test="record.denySell != null">
        denySell = #{record.denySell,jdbcType=INTEGER},
      </if>
      <if test="record.denyDestroy != null">
        denyDestroy = #{record.denyDestroy,jdbcType=INTEGER},
      </if>
      <if test="record.conds != null">
        conds = #{record.conds,jdbcType=VARCHAR},
      </if>
      <if test="record.packageType != null">
        packageType = #{record.packageType,jdbcType=INTEGER},
      </if>
      <if test="record.dropGroupid != null">
        dropGroupid = #{record.dropGroupid,jdbcType=INTEGER},
      </if>
      <if test="record.itemlevel != null">
        itemlevel = #{record.itemlevel,jdbcType=INTEGER},
      </if>
      <if test="record.recoverid != null">
        recoverid = #{record.recoverid,jdbcType=INTEGER},
      </if>
      <if test="record.recoverView != null">
        recoverView = #{record.recoverView,jdbcType=VARCHAR},
      </if>
      <if test="record.itemlvl != null">
        itemlvl = #{record.itemlvl,jdbcType=INTEGER},
      </if>
      <if test="record.deathsplit != null">
        deathsplit = #{record.deathsplit,jdbcType=VARCHAR},
      </if>
      <if test="record.trade != null">
        trade = #{record.trade,jdbcType=INTEGER},
      </if>
      <if test="record.selectGift != null">
        selectGift = #{record.selectGift,jdbcType=VARCHAR},
      </if>
      <if test="record.forcetips != null">
        forcetips = #{record.forcetips,jdbcType=INTEGER},
      </if>
      <if test="record.jpdrop != null">
        jpdrop = #{record.jpdrop,jdbcType=INTEGER},
      </if>
      <if test="record.iseffect != null">
        iseffect = #{record.iseffect,jdbcType=INTEGER},
      </if>
      <if test="record.tipsid != null">
        tipsid = #{record.tipsid,jdbcType=INTEGER},
      </if>
      <if test="record.fashionTips != null">
        fashionTips = #{record.fashionTips,jdbcType=VARCHAR},
      </if>
      <if test="record.staitcAttrs != null">
        staitcAttrs = #{record.staitcAttrs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update StdItems
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      itemDesc = #{record.itemDesc,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=INTEGER},
      shape = #{record.shape,jdbcType=INTEGER},
      back = #{record.back,jdbcType=INTEGER},
      imgeff = #{record.imgeff,jdbcType=INTEGER},
      dup = #{record.dup,jdbcType=INTEGER},
      dealType = #{record.dealType,jdbcType=INTEGER},
      suitId = #{record.suitId,jdbcType=INTEGER},
      colGroup = #{record.colGroup,jdbcType=INTEGER},
      cdTime = #{record.cdTime,jdbcType=INTEGER},
      dropBroadcast = #{record.dropBroadcast,jdbcType=INTEGER},
      showQuality = #{record.showQuality,jdbcType=INTEGER},
      dropEffect = #{record.dropEffect,jdbcType=INTEGER},
      itemEff = #{record.itemEff,jdbcType=INTEGER},
      existScenes = #{record.existScenes,jdbcType=VARCHAR},
      openUi = #{record.openUi,jdbcType=VARCHAR},
      suggVocation = #{record.suggVocation,jdbcType=INTEGER},
      time = #{record.time,jdbcType=INTEGER},
      canMoveKb = #{record.canMoveKb,jdbcType=INTEGER},
      recordLog = #{record.recordLog,jdbcType=INTEGER},
      denyDeal = #{record.denyDeal,jdbcType=INTEGER},
      denySell = #{record.denySell,jdbcType=INTEGER},
      denyDestroy = #{record.denyDestroy,jdbcType=INTEGER},
      conds = #{record.conds,jdbcType=VARCHAR},
      packageType = #{record.packageType,jdbcType=INTEGER},
      dropGroupid = #{record.dropGroupid,jdbcType=INTEGER},
      itemlevel = #{record.itemlevel,jdbcType=INTEGER},
      recoverid = #{record.recoverid,jdbcType=INTEGER},
      recoverView = #{record.recoverView,jdbcType=VARCHAR},
      itemlvl = #{record.itemlvl,jdbcType=INTEGER},
      deathsplit = #{record.deathsplit,jdbcType=VARCHAR},
      trade = #{record.trade,jdbcType=INTEGER},
      selectGift = #{record.selectGift,jdbcType=VARCHAR},
      forcetips = #{record.forcetips,jdbcType=INTEGER},
      jpdrop = #{record.jpdrop,jdbcType=INTEGER},
      iseffect = #{record.iseffect,jdbcType=INTEGER},
      tipsid = #{record.tipsid,jdbcType=INTEGER},
      fashionTips = #{record.fashionTips,jdbcType=VARCHAR},
      staitcAttrs = #{record.staitcAttrs,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update StdItems
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      itemDesc = #{record.itemDesc,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=INTEGER},
      shape = #{record.shape,jdbcType=INTEGER},
      back = #{record.back,jdbcType=INTEGER},
      imgeff = #{record.imgeff,jdbcType=INTEGER},
      dup = #{record.dup,jdbcType=INTEGER},
      dealType = #{record.dealType,jdbcType=INTEGER},
      suitId = #{record.suitId,jdbcType=INTEGER},
      colGroup = #{record.colGroup,jdbcType=INTEGER},
      cdTime = #{record.cdTime,jdbcType=INTEGER},
      dropBroadcast = #{record.dropBroadcast,jdbcType=INTEGER},
      showQuality = #{record.showQuality,jdbcType=INTEGER},
      dropEffect = #{record.dropEffect,jdbcType=INTEGER},
      itemEff = #{record.itemEff,jdbcType=INTEGER},
      existScenes = #{record.existScenes,jdbcType=VARCHAR},
      openUi = #{record.openUi,jdbcType=VARCHAR},
      suggVocation = #{record.suggVocation,jdbcType=INTEGER},
      time = #{record.time,jdbcType=INTEGER},
      canMoveKb = #{record.canMoveKb,jdbcType=INTEGER},
      recordLog = #{record.recordLog,jdbcType=INTEGER},
      denyDeal = #{record.denyDeal,jdbcType=INTEGER},
      denySell = #{record.denySell,jdbcType=INTEGER},
      denyDestroy = #{record.denyDestroy,jdbcType=INTEGER},
      conds = #{record.conds,jdbcType=VARCHAR},
      packageType = #{record.packageType,jdbcType=INTEGER},
      dropGroupid = #{record.dropGroupid,jdbcType=INTEGER},
      itemlevel = #{record.itemlevel,jdbcType=INTEGER},
      recoverid = #{record.recoverid,jdbcType=INTEGER},
      recoverView = #{record.recoverView,jdbcType=VARCHAR},
      itemlvl = #{record.itemlvl,jdbcType=INTEGER},
      deathsplit = #{record.deathsplit,jdbcType=VARCHAR},
      trade = #{record.trade,jdbcType=INTEGER},
      selectGift = #{record.selectGift,jdbcType=VARCHAR},
      forcetips = #{record.forcetips,jdbcType=INTEGER},
      jpdrop = #{record.jpdrop,jdbcType=INTEGER},
      iseffect = #{record.iseffect,jdbcType=INTEGER},
      tipsid = #{record.tipsid,jdbcType=INTEGER},
      fashionTips = #{record.fashionTips,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    update StdItems
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        itemDesc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=INTEGER},
      </if>
      <if test="shape != null">
        shape = #{shape,jdbcType=INTEGER},
      </if>
      <if test="back != null">
        back = #{back,jdbcType=INTEGER},
      </if>
      <if test="imgeff != null">
        imgeff = #{imgeff,jdbcType=INTEGER},
      </if>
      <if test="dup != null">
        dup = #{dup,jdbcType=INTEGER},
      </if>
      <if test="dealType != null">
        dealType = #{dealType,jdbcType=INTEGER},
      </if>
      <if test="suitId != null">
        suitId = #{suitId,jdbcType=INTEGER},
      </if>
      <if test="colGroup != null">
        colGroup = #{colGroup,jdbcType=INTEGER},
      </if>
      <if test="cdTime != null">
        cdTime = #{cdTime,jdbcType=INTEGER},
      </if>
      <if test="dropBroadcast != null">
        dropBroadcast = #{dropBroadcast,jdbcType=INTEGER},
      </if>
      <if test="showQuality != null">
        showQuality = #{showQuality,jdbcType=INTEGER},
      </if>
      <if test="dropEffect != null">
        dropEffect = #{dropEffect,jdbcType=INTEGER},
      </if>
      <if test="itemEff != null">
        itemEff = #{itemEff,jdbcType=INTEGER},
      </if>
      <if test="existScenes != null">
        existScenes = #{existScenes,jdbcType=VARCHAR},
      </if>
      <if test="openUi != null">
        openUi = #{openUi,jdbcType=VARCHAR},
      </if>
      <if test="suggVocation != null">
        suggVocation = #{suggVocation,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="canMoveKb != null">
        canMoveKb = #{canMoveKb,jdbcType=INTEGER},
      </if>
      <if test="recordLog != null">
        recordLog = #{recordLog,jdbcType=INTEGER},
      </if>
      <if test="denyDeal != null">
        denyDeal = #{denyDeal,jdbcType=INTEGER},
      </if>
      <if test="denySell != null">
        denySell = #{denySell,jdbcType=INTEGER},
      </if>
      <if test="denyDestroy != null">
        denyDestroy = #{denyDestroy,jdbcType=INTEGER},
      </if>
      <if test="conds != null">
        conds = #{conds,jdbcType=VARCHAR},
      </if>
      <if test="packageType != null">
        packageType = #{packageType,jdbcType=INTEGER},
      </if>
      <if test="dropGroupid != null">
        dropGroupid = #{dropGroupid,jdbcType=INTEGER},
      </if>
      <if test="itemlevel != null">
        itemlevel = #{itemlevel,jdbcType=INTEGER},
      </if>
      <if test="recoverid != null">
        recoverid = #{recoverid,jdbcType=INTEGER},
      </if>
      <if test="recoverView != null">
        recoverView = #{recoverView,jdbcType=VARCHAR},
      </if>
      <if test="itemlvl != null">
        itemlvl = #{itemlvl,jdbcType=INTEGER},
      </if>
      <if test="deathsplit != null">
        deathsplit = #{deathsplit,jdbcType=VARCHAR},
      </if>
      <if test="trade != null">
        trade = #{trade,jdbcType=INTEGER},
      </if>
      <if test="selectGift != null">
        selectGift = #{selectGift,jdbcType=VARCHAR},
      </if>
      <if test="forcetips != null">
        forcetips = #{forcetips,jdbcType=INTEGER},
      </if>
      <if test="jpdrop != null">
        jpdrop = #{jpdrop,jdbcType=INTEGER},
      </if>
      <if test="iseffect != null">
        iseffect = #{iseffect,jdbcType=INTEGER},
      </if>
      <if test="tipsid != null">
        tipsid = #{tipsid,jdbcType=INTEGER},
      </if>
      <if test="fashionTips != null">
        fashionTips = #{fashionTips,jdbcType=VARCHAR},
      </if>
      <if test="staitcAttrs != null">
        staitcAttrs = #{staitcAttrs,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    update StdItems
    set name = #{name,jdbcType=VARCHAR},
      itemDesc = #{itemDesc,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      icon = #{icon,jdbcType=INTEGER},
      shape = #{shape,jdbcType=INTEGER},
      back = #{back,jdbcType=INTEGER},
      imgeff = #{imgeff,jdbcType=INTEGER},
      dup = #{dup,jdbcType=INTEGER},
      dealType = #{dealType,jdbcType=INTEGER},
      suitId = #{suitId,jdbcType=INTEGER},
      colGroup = #{colGroup,jdbcType=INTEGER},
      cdTime = #{cdTime,jdbcType=INTEGER},
      dropBroadcast = #{dropBroadcast,jdbcType=INTEGER},
      showQuality = #{showQuality,jdbcType=INTEGER},
      dropEffect = #{dropEffect,jdbcType=INTEGER},
      itemEff = #{itemEff,jdbcType=INTEGER},
      existScenes = #{existScenes,jdbcType=VARCHAR},
      openUi = #{openUi,jdbcType=VARCHAR},
      suggVocation = #{suggVocation,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      canMoveKb = #{canMoveKb,jdbcType=INTEGER},
      recordLog = #{recordLog,jdbcType=INTEGER},
      denyDeal = #{denyDeal,jdbcType=INTEGER},
      denySell = #{denySell,jdbcType=INTEGER},
      denyDestroy = #{denyDestroy,jdbcType=INTEGER},
      conds = #{conds,jdbcType=VARCHAR},
      packageType = #{packageType,jdbcType=INTEGER},
      dropGroupid = #{dropGroupid,jdbcType=INTEGER},
      itemlevel = #{itemlevel,jdbcType=INTEGER},
      recoverid = #{recoverid,jdbcType=INTEGER},
      recoverView = #{recoverView,jdbcType=VARCHAR},
      itemlvl = #{itemlvl,jdbcType=INTEGER},
      deathsplit = #{deathsplit,jdbcType=VARCHAR},
      trade = #{trade,jdbcType=INTEGER},
      selectGift = #{selectGift,jdbcType=VARCHAR},
      forcetips = #{forcetips,jdbcType=INTEGER},
      jpdrop = #{jpdrop,jdbcType=INTEGER},
      iseffect = #{iseffect,jdbcType=INTEGER},
      tipsid = #{tipsid,jdbcType=INTEGER},
      fashionTips = #{fashionTips,jdbcType=VARCHAR},
      staitcAttrs = #{staitcAttrs,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zeno.cqicanfly.mybatis.entity.StdItemsPO">
    update StdItems
    set name = #{name,jdbcType=VARCHAR},
      itemDesc = #{itemDesc,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      icon = #{icon,jdbcType=INTEGER},
      shape = #{shape,jdbcType=INTEGER},
      back = #{back,jdbcType=INTEGER},
      imgeff = #{imgeff,jdbcType=INTEGER},
      dup = #{dup,jdbcType=INTEGER},
      dealType = #{dealType,jdbcType=INTEGER},
      suitId = #{suitId,jdbcType=INTEGER},
      colGroup = #{colGroup,jdbcType=INTEGER},
      cdTime = #{cdTime,jdbcType=INTEGER},
      dropBroadcast = #{dropBroadcast,jdbcType=INTEGER},
      showQuality = #{showQuality,jdbcType=INTEGER},
      dropEffect = #{dropEffect,jdbcType=INTEGER},
      itemEff = #{itemEff,jdbcType=INTEGER},
      existScenes = #{existScenes,jdbcType=VARCHAR},
      openUi = #{openUi,jdbcType=VARCHAR},
      suggVocation = #{suggVocation,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      canMoveKb = #{canMoveKb,jdbcType=INTEGER},
      recordLog = #{recordLog,jdbcType=INTEGER},
      denyDeal = #{denyDeal,jdbcType=INTEGER},
      denySell = #{denySell,jdbcType=INTEGER},
      denyDestroy = #{denyDestroy,jdbcType=INTEGER},
      conds = #{conds,jdbcType=VARCHAR},
      packageType = #{packageType,jdbcType=INTEGER},
      dropGroupid = #{dropGroupid,jdbcType=INTEGER},
      itemlevel = #{itemlevel,jdbcType=INTEGER},
      recoverid = #{recoverid,jdbcType=INTEGER},
      recoverView = #{recoverView,jdbcType=VARCHAR},
      itemlvl = #{itemlvl,jdbcType=INTEGER},
      deathsplit = #{deathsplit,jdbcType=VARCHAR},
      trade = #{trade,jdbcType=INTEGER},
      selectGift = #{selectGift,jdbcType=VARCHAR},
      forcetips = #{forcetips,jdbcType=INTEGER},
      jpdrop = #{jpdrop,jdbcType=INTEGER},
      iseffect = #{iseffect,jdbcType=INTEGER},
      tipsid = #{tipsid,jdbcType=INTEGER},
      fashionTips = #{fashionTips,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>